.gst-list-container {
  padding: 0.2rem;
  background: transparent;
  // border: 1px solid darkgray;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.4rem;
}

mat-card {
  border-radius: 7px;
}

table {
  width: 100%;
  min-width: 600px;
  border-radius: 10px;
  border-collapse: separate;
}

.table-wrapper {
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 8px;
  background: transparent;
  width: 100%;
  max-height: 600px;
}

.table-wrapper::-webkit-scrollbar {
  height: 8px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #b6c4ec;
  border-radius: 10px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background: #8ea4d9;
}

.mat-mdc-header-row {
  position: sticky;
  top: 0;
  background: #dfe7fd;
  z-index: 10;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  table {
    min-width: 1100px;
  }
}

.no-data-row td {
  text-align: center;
  padding: 30px 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}